.background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #00a550; /* CBRE green */
  font-size: 8rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}